.nav {
    display: flex;
    justify-content: space-between;
}
.nav__links {
  text-decoration: none;
  color: black;
    display: flex;
    align-items: flex-start;
    column-gap: 20px;
    list-style: none;
    padding-left: 0;
    margin-right: 30px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    transition: color .15s ease-in;
  }
  .nav__links:hover{
    color: #2f80ed;
  }